<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>Style Guide <%= title %></title>
<!-- CSS to be documented -->
<!--
<link rel="stylesheet" href="common/css/basic.css">
<link rel="stylesheet" href="common/css/font-awesome.css">
-->
<!-- Styleguide CSS -->
<link rel="stylesheet" href="static/css/doc.css">
<link rel="stylesheet" href="static/css/github.css">
</head>

<body>
<ul>
<% @blocks.each do |block| %>
<li><a href="#<%= block[:name] %>"><%= block[:title] %></a></li>
<% end %>
</ul>
